
@{
    ViewBag.Title = "Index";
}
<h4>Добро пожаловать, пользователь с IP-адресом @Request.UserHostAddress, зашедший через браузер @Request.UserAgent</h4>
<h4>Это дипломная работа студента Прокоповича Д.В., посвящённая автоматизации процеса защиты лабораторных работ студентами.</h4>
<h4>Весь функционал приложения доступен через верхнее горизонтальное меню.</h4>
