
@{
    ViewBag.Title = "LabsOnDisciplineList";
}
<body>
    <table id="main-table">
        <thead>
            <tr>
                <th>Лабораторная</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 1; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i]</td>
                        <td class="clicable" onclick="this.firstChild.click()">@Html.ActionLink("Редактировать", "EditLab", new { discipline = Model[0], lab_name=Model[i] })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Назад", "LabsList")
    <script type="text/javascript">
        document.onload = new function ()
        {
            $('#main-table').DataTable(russian_lang);
        }
    </script>
</body>


